body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}
.Main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.navbar-position{
    width: 100vw;
    height: 14vh;
}